html, body{
    margin: 0px;
    padding: 0px;
    
    background-image:url('MörkEbenholts.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;

}


.navigationcenter{

    margin: 0px;
    padding: 0px;
    text-align:center;


}

.navigation{
    
    margin: 0px;
    margin-top: 1%;

    padding-left:7%;
    padding-right:7%;
    padding-top:1.3%;
    padding-bottom:1.3%;

    
    list-style: none;
    display:inline-flex;
    
    background-image:url('GulnatPergament.jpg');

    border-color: rgb(181, 153, 110);
    border-width: 9px;
    
    border-style:solid;
}

ul.navigation  li{
    font-size: 300%;

    text-align: center;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);

    background: linear-gradient(45deg,rgb(86, 85, 85), rgb(175, 175, 175), gray, rgb(192, 192, 192), gray);

    border-color: rgb(156, 156, 156);
    border-width: 5px;
    border-style: solid;

    margin: 5px;
    padding: 10px;
    
}
ul.navigation  li:hover{
    font-size: 300%;

    text-align: center;
    box-shadow: 0px 0px 50px rgb(97, 242, 218);

    background: linear-gradient(45deg,rgb(86, 85, 85), rgb(175, 175, 175), gray, rgb(192, 192, 192), gray);

    border-color: rgb(97, 242, 218);
    border-width: 5px;
    border-style: solid;

    margin: 5px;
    padding: 10px;
    
}


ul.navigation li a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-align: center;


    color:rgb(225, 225, 125);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

ul.navigation li a:hover{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;

    color:rgb(97, 242, 218);
    text-shadow: 0px 0px 50px rgb(97, 242, 218);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    border: 5px solid rgb(181, 153, 110);
    padding: 20px;
    justify-content: center;
    align-items: stretch;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    
}

.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgb(157, 111, 30);
    grid-column: span 1;
    grid-row: span 1;
    padding: 10px;
    font-size: 20px;
    text-align: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(117, 117, 117);
    background-image:url('GulnatPergament.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.title {
    text-align: center;
    font-size: 400%;
    color:  rgb(117, 117, 117);
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container img {
    margin-top: 10px; 
    width: 400px;
    height: 300px;
}

.a {
    text-decoration: none;
    color: rgb(148, 34, 242);
    font-size: 150%;
    border : 3px solid rgb(117, 117, 117);
    padding: 3px;
    transition: all 0.3s ease;
}

.a:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

main{
    margin: 0px;
    padding: 0px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(214, 220, 227);

}

main h1{
    font-size: 400%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 6%;
    margin-bottom: 0%;

    text-shadow: 0px 0px 20px rgba(97, 242, 218, 0.648);
}

main > h2{
    font-size: 200%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;
    margin-bottom: 6%;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 0px 0px 20px rgba(97, 242, 218, 0.648);
}

main section{
    font-family:'Times New Roman', Times, serif;
    background-color: black;
    font-size: 150%;
    margin-left: 23%;
    margin-right: 23%;
    margin-top: 0%;
    margin-bottom: 0%;

    border-color: rgb(181, 153, 110);
    border-width: 10px;
    border-style: solid;

    background-image:url('GulnatPergament.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    box-shadow: 0px 0px 20px rgba(97, 242, 218, 0.674);

}

.wider{
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 6%;
}

main section img{
    width: 600px;
    height: auto;
    margin-bottom: 2%;

    border-color:rgb(181, 153, 110);
    border-width: 7px;
    border-style: solid;

    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

main article{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(151, 158, 165);


    border-color:rgb(181, 153, 110);
    border-width: 7px;
    border-style: solid;
    margin-top: 5%;
    margin-bottom: 5%;

    background-image:url('GulnatPergament.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

    font-family:'Times New Roman', Times, serif;

    box-shadow: 0px 0px 20px rgb(97, 242, 218);

}

main article:hover{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(114, 255, 232);


    border-color:rgb(181, 153, 110);
    border-width: 7px;
    border-style: solid;
    margin-top: 5%;
    margin-bottom: 5%;

    background-image:url('GulnatPergament.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0px 0px 40px rgb(97, 242, 218);
}

main article h2{
    font-size: 250%;
}

main section div{
    margin: none;
    padding: none;

    margin-top: 2%;
    margin-left:1%;
    margin-right:1%;

    border-color:rgb(181, 153, 110);
    border-style:solid;
    border-width:6px;
    
    background-color: rgba(0, 0, 0, 0.068);

    
}

main section.wider h2{
    font-size: 40px;
}


main section h2{
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);

    background: linear-gradient(45deg,rgb(86, 85, 85), rgb(175, 175, 175), gray, rgb(192, 192, 192), gray);

    border-color: rgb(156, 156, 156);
    border-width: 5px;
    border-style: solid;
}

main section div h2{
    padding:none;
    margin-left: 2%;
    margin-right: 2%;
}

main section div p{
    font-size: 36px;
}

main section div{
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.735)
}

.Kontaktinfo{
    padding:none;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.Öppettiderinfo{
    padding:none;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%; 
}

.infoklass{
    font-size: 150%;
}


main section ul{
    text-align:center;
    color: rgb(214, 220, 227);
    list-style: none;
    display:flex;
    padding: 0px;
    margin: none;
    
}

main section ul li:hover{
    color: rgb(114, 255, 232);
    text-shadow: 0px 0px 50px rgb(97, 242, 218);
    box-shadow: 0px 0px 10px rgb(97, 242, 218);


}

main section div:hover{
    color: rgb(114, 255, 232);
    text-shadow: 0px 0px 50px rgb(97, 242, 218);
    box-shadow: 0px 0px 10px rgb(97, 242, 218);
}

main section ul li ol li{
    margin-bottom:12%;
}

main section ul > li{

    margin:10px;
    padding-bottom: 20px;

    border-color:rgb(181, 153, 110);
    border-style:solid;
    border-width:6px;

    background-color: rgba(0, 0, 0, 0.068);
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.735)
}

footer{
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(214, 220, 227);
    
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 6%;
    margin-bottom: 0%;

    text-shadow: 0px 0px 20px rgba(97, 242, 218, 0.648);
   
}

main section ul dl{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    margin-left: 40px;
    margin-right: 40px;
}

main section ul dt{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
}

main section ul dd{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    text-align:justify;
}

main section ul ol{
    list-style-type:square;
    text-align:left;
}

main article p{
    font-size: 20px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10px;
}


main article a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    text-decoration: none;

    padding-left: 150px;
    padding-right: 150px;

    color:rgb(225, 225, 125);

    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);

    background: linear-gradient(45deg,rgb(86, 85, 85), rgb(175, 175, 175), gray, rgb(192, 192, 192), gray);

    border-color: rgb(156, 156, 156);
    border-width: 5px;
    border-style: solid;


}

main article a:hover{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    text-decoration: none;

    padding-left: 150px;
    padding-right: 150px;

    color:rgb(97, 242, 218);

    box-shadow: 0px 0px 30px rgb(97, 242, 218);

    background: linear-gradient(45deg,rgb(86, 85, 85), rgb(175, 175, 175), gray, rgb(192, 192, 192), gray);

    border-color: rgb(97, 242, 218);
    border-width: 5px;
    border-style: solid;



}